/* General Style Sheet */

html {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
   
body{
    background-color: #999999;
    color: #000000;
    display: grid;
    grid-template-columns: 70% 30%;
}
   
img {
    /*order: 2;*/
    margin: auto auto;
    height: auto;
    width: 30%; 
}

#metadata {
    /*order: 1;*/
    display: grid;
    grid-template-columns: repeat(2);
    grid-template-rows: repeat(12);   
}


/* Metadata Fields*/

.grid-label{
    font-weight: bold;
}
/*
#identifier {

}
#title{

}
#date {

}
#description {

}
#type {

}
#format {

}
#physicalMedium {

}
#location {

}
#subject {

}
#coverage {

}
#spatial {

}
#temporal {

}
#source {

}
#creator {

}
#contributor {

}
#publisher {

}
#rights {

}
#source {

}
#relation{

}



/* Footer */
/*
footer {
    align-items: right;
}


/* Create media query */
/*
@media only screen and (max-width: 1024px) {

    body {
        display: inline;  
    }

}
*/