/* General Style Sheet */

html {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
   
body{
    background-color: #999999;
    color: #000000;

    margin: 1% 5% 1% 5%;

}

h3 {
    text-decoration-line: underline;
}
   
img {
    order: 2;
    margin: auto auto;
    height: auto;
    width: 100%; 
}

#metadata {
    order: 1;
    display: grid;
    grid-template-columns: 60% 30%;
    grid-gap: 10px;
    
}

.items{
    display: grid;
    grid-template-columns: 30% 70%;
    background-color: #c4c2c2;
    border: 1px solid;
    grid-gap: 0;
}


/* Metadata Fields*/

.grid-label{
    font-weight: bold;
    margin: 0px;
    padding: 10px;
    border: 1px solid #000000;
}

.items > p {
    margin: 0px;
    padding: 10px;   
    border: 1px solid #000000; 
}

/* Footer */

footer {
    text-align: right;
}


/* Create media query */

@media only screen and (max-width: 1024px) {

    #metadata {
        grid-template-columns: auto;
        grid-row: auto auto;
    }

    img {
        order: 1;
    }

    .items {
        order: 2;
    }

}
