<div class="items"> 
<h4 class="grid-label">Identifier</h4>
<p>{{{Identifier}}}</p>

<h4 class="grid-label">Title</h4>
<p>{{{Title}}}</p> 

<h4 class="grid-label">Date</h4>
<p>{{{Date}}}</p> 

<h4 class="grid-label">Description</h4>
<p>{{{Desc}}}</p> 

<h4 class="grid-label"> Type</h4>
<p>{{{Type}}}</p> 

<h4 class="grid-label">Format</h4>
<p>{{{Format}}}</p> 

<h4 class="grid-label">Physical Medium</h4>
<p>{{{PhysicalMed}}}</p> 

<h4 class="grid-label">Location</h4>
<p>{{{Location}}}</p> 

<h4 class="grid-label">Subject</h4>
<p>{{{Subject}}}</p> 

<h4 class="grid-label">Coverage</h4>
<p>{{{Coverage}}}</p> 

<h4 class="grid-label"> Spatial</h4>
<p>{{{Spatial}}}</p> 

<h4 class="grid-label">Temporal</h4>
<p>{{{Temporal}}}</p> 

<h4 class="grid-label">Source</h4>
<p>{{{Source}}}</p> 

<h4 class="grid-label">Creator</h4>
<p>{{{Creator}}}</p> 

<h4 class="grid-label">Contributor</h4>
<p>{{{Contributor}}}</p> 

<h4 class="grid-label">Publisher</h4>
<p>{{{Publisher}}}</p> 

{{{Rights}}}

{{{Relation}}}
</div>

<section id="img">
<img src="{{{Image}}}"></img>
</section>