<section id="identifier"> 
<h4 class="grid-label">Identifier</h4>
<p>{{{Identifier}}}</p>
</section>

<section id="title">
<h4 class="grid-label">Title</h4>
<p>{{{Title}}}</p> 
</section>

<section id="date">
<h4 class="grid-label">Date</h4>
<p>{{{Date}}}</p> 
</section>

<section id="description">
<h4 class="grid-label">Description</h4>
<p>{{{Desc}}}</p> 
</section>

<section id="type">
<h4 class="grid-label"> Type</h4>
<p>{{{Type}}}</p> 
</section>

<section id="format">
<h4 class="grid-label">Format</h4>
<p>{{{Format}}}</p> 
</section>

<section id="physicalmedium">
<h4 class="grid-label">Physical Medium</h4>
<p>{{{PhysicalMed}}}</p> 
</section>

<section id="location">
<h4 class="grid-label">Location</h4>
<p>{{{Location}}}</p> 
</section>

<section id="subject">
<h4 class="grid-label">Subject</h4>
<p>{{{Subject}}}</p> 
</section>

<section id="coverage">
<h4 class="grid-label">Coverage</h4>
<p>{{{Coverage}}}</p> 
</section>

<section id="spatial">
<h4 class="grid-label"> Spatial</h4>
<p>{{{Spatial}}}</p> 
</section>

<section id="temporal">
<h4 class="grid-label">Temporal</h4>
<p>{{{Temporal}}}</p> 
</section>

<section id="source">
<h4 class="grid-label">Source</h4>
<p>{{{Source}}}</p> 
</section>

<section id="creator">
<h4 class="grid-label">Creator</h4>
<p>{{{Creator}}}</p> 
</section>

<section id="contributor">
<h4 class="grid-label">Contributor</h4>
<p>{{{Contributor}}}</p> 
</section>

<section id="publisher">
<h4 class="grid-label">Publisher</h4>
<p>{{{Publisher}}}</p> 
</section>

<section id="rights">
{{{Rights}}}
</section>

<section id="img">
<img src="{{{Image}}}"></img>
</section>

<section id="relation">
{{{Relation}}}
</section>